.visualize-input-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visualize-input {
    width: 60px;
}
.visualize-input-skip {
    width: 45px;
}

.e-label-section {
    display: flex;
    align-items: center;
}

.e-label {
    font-size: 12px;
}

.estimated-number {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.estimated-input {
    width: 75px;
}

.visualize-image-section {
    overflow-y: scroll;
    height: 48.7vh;
}

.visualize-image {
    width: 100%;
}