#container {
    padding-top: 15px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

#instruction-btn {
    position: absolute;
    display: none;
    left: 15px; 
}

#greeting {
    position: absolute;
    display: flex;
    right: 15px;
}

#name:hover {
    cursor: pointer;
}

.data-section {
    border-right: 1px solid #eee;
}

.table-data {
    max-height: 84.5vh;
    overflow-y: scroll;
}

.table td, .table th {
    padding: .45rem;
}

thead {
    background-color: #28a745;
    color: white;
}

th, td {
    text-align: center;
}


.col-titles {
    display: flex;
    align-self: center;
    justify-content: center;
    border-bottom: none;
}

.inputs-section {
    padding: 0 30px;
}

.input {
    text-align: center;
    margin-bottom: 50px;
}

input {
    text-align: center;
}

.save-btn {
    text-align: center;
    margin-top: 1.2rem;
}

.instruction-section {
    border-left: 1px solid #eee;
}

.button-delete {
    color: white;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 1200px) {
    #instruction-btn {
        display: inline; 
    }

    .inputs-section {
        padding: 0 0px;
    }

    .instruction-section {
        display: none;
    }
}