<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cognite</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/index.css">
        <link rel="stylesheet" href="../assets/admin.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div id="container" class="container-fluid">
            
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <button id="switch-btn" class="btn btn-success">Switch to Backup Data file</button>
                <input id="current-table" type="hidden" value="global">
                <h2 class="text-center">Cognite Neuro</h2>
                <button class="btn btn-success" data-toggle="modal" data-target="#lastActivity">Last activity</button>
            </div>

            <div class="row">
                <div class="col-5 data-section">
                    <h5 id="type-of-data" class="text-center">Data</h5>
                    <div class="table-data">
                        <table class="table table-striped">
                            <thead id="thead">
                                <th scope="col" class="align-middle">#</th>
                                <th scope="col">Personalised Score</th>
                                <th scope="col">Current Intensity</th>
                                <th scope="col" class="align-middle">Performance</th>
                                <th scope="col" class="align-middle">Added Time</th>
                                <th scope="col" class="align-middle">User</th>
                                <th scope="col" class="align-middle">Action</th>
                            </thead>
                            <tbody id="tbody">
                                {% for row in table_data %}
                                    <tr>
                                        <th class="align-middle" scope="row">{{ loop.index0+1 }}</th>
                                        <td class="align-middle">{{ row[1] }}</td>
                                        <td class="align-middle">{{ row[0] }}</td>
                                        <td class="align-middle">{{ row[2] }}</td>
                                        <td class="align-middle">{{ row[3] }}</td>
                                        <td class="align-middle">{{ row[4] }}</td>
                                        <td class="align-middle">
                                            <button
                                                class="button-delete" type="button"
                                                data-toggle="modal" data-target="#confirmDeleteModal"
                                                onclick="preDeleteRow('{{ loop.index0+1 }}')">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
    
                <div class="col-3">
                    <h5 class="text-center">Visualization</h5>

                    <div class="visualize-input-section">
                        From index: <input id="from-i" class="visualize-input form-control" type="text" value="1">
                        To index: <input id="to-i" class="visualize-input form-control" type="text" value="-1">
                        Skip: <input id="skip" class="visualize-input-skip form-control" type="text" value="1">
                    </div>

                    <div style="margin-top: 10px;" class="text-center">
                        <button id="v-btn" class="btn btn-success">Visualize</button>
                        <div style="margin-bottom: 5px;" id="spinner" class="spinner-border text-success d-none" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <hr>

                    <div class="estimated-section">
                        <p class="text-center"><b>Estimated Hyperparameter</b></p>

                        <div class="row estimated-number">
                            <div class="row e-label-section">
                                <div class="col-4">
                                    <div class="e-label text-center"><b>Current Intensity lengthscale</b></div>
                                </div>
                                <div class="col-4">
                                    <div class="e-label text-center"><b>Personalised Score lengthscale</b></div>
                                </div>
                                <div class="col-4">
                                    <div class="e-label text-center"><b>Noise Variance</b></div>
                                </div>
                            </div>
                            <div style="width: 110%;" class="row">
                                <div class="col-4">
                                    <input id="current-intensity-inp" class="estimated-input form-control m-auto" type="text" disabled>
                                </div>
                                <div class="col-4">
                                    <input id="p-score-inp" class="estimated-input form-control m-auto" type="text" disabled>
                                </div>
                                <div class="col-4">
                                    <input id="noise-inp" class="estimated-input form-control m-auto" type="text" disabled>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="visualize-image-section">
                        <div style="margin-top: 10px;">
                            <img id="v-img-1" class="visualize-image" src="/api/image/gp_acq.png/1" alt="img-1">
                        </div>
                        <div style="margin-top: 10px;">
                            <img id="v-img-2" class="visualize-image" src="/api/image/gp_mean.png/2" alt="img-2">
                        </div>
                        <div style="margin-top: 10px;">
                            <img id="v-img-3" class="visualize-image" src="/api/image/gp_var.png/3" alt="img-3">
                        </div>
                    </div>
                </div>
    
                <div class="col-4 instruction-section">
                    <h5 class="text-center">Log</h5>
                    <div class="table-data">
                        <table class="table table-striped">
                            <thead>
                                <th scope="col" class="align-middle">#</th>
                                <th scope="col" class="align-middle">Time</th>
                                <th scope="col" class="align-middle">User</th>
                                <th scope="col" class="align-middle">Event</th>
                            </thead>
                            <tbody id="tbody">
                                {% for row in table_history %}
                                    <tr>
                                        <th class="align-middle" scope="row">{{ loop.index0+1 }}</th>
                                        <td class="align-middle">{{ row.time }}</td>
                                        <td class="align-middle">{{ row.email }}</td>
                                        <td class="align-middle">{{ row.event }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        Are you sure to delete this record?
                    </div>

                    <div class="modal-footer">
                        <button id="close-modal-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="confirm-delete-btn" type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Last Activity -->
        <div class="modal fade" id="lastActivity" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Last activity</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="table-data">
                            <table class="table table-striped">
                                <thead>
                                    <th scope="col" class="align-middle">#</th>
                                    <th scope="col" class="align-middle">Name</th>
                                    <th scope="col" class="align-middle">Email</th>
                                    <th scope="col" class="align-middle">Event</th>
                                    <th scope="col" class="align-middle">Time</th>
                                </thead>
                                <tbody id="tbody">
                                    {% for row in table_last_activity %}
                                        <tr>
                                            <th class="align-middle" scope="row">{{ loop.index0+1 }}</th>
                                            <td class="align-middle">{{ row.name }}</td>
                                            <td class="align-middle">{{ row.email }}</td>
                                            <td class="align-middle">{{ row.event }}</td>
                                            <td class="align-middle">{{ row.time }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button id="close-modal-btn" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <script src="../assets/admin.js"></script>
    </body>
</html>