<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cognite</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/login.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div id="container" class="container-fluid">
            <div class="login-form">
                <h2 class="text-center">Cognite</h2>
                <form method="post" action="/change-password">
                    <div class="form-group">
                      <label for="email">Current password</label>
                      <input type="password" class="form-control" name="current-password" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="password">New password</label>
                        <input type="password" class="form-control" name="new-password">
                      </div>
                    <div class="form-group">
                      <label for="password">Re-confirm new password</label>
                      <input type="password" class="form-control" name="reconfirm-new-password">
                      {% if message %}
                        <small class="message text-danger">{{ message }}</small>
                      {% endif %}
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-success">Change password</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>